
.skills {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}
.skills__categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    margin: 0 auto;
}

.skills__categories--category {
    background-color: rgba(244, 244, 248, 0.3); 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-bottom: 15px;
    width: 200px;
}

.skills__categories--title {
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
    text-align: center;
}

.skills__categories--list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.skills__categories--item {
    font-size: 14px;
    padding: 5px 0;
    color: white;
    text-align: center;
}
