
.skills {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}
.skills__categories {
    margin-top: 8vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
   
}

.skills__category {
    background-color: var(--text-graphite-light-opacity);
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--background-space-opacity);
    padding-bottom: 15px;
    width: 200px;
}

.skills__category--title {
    font-size: 18px;
    font-weight: bold;
    color: var(--background-colory);
    margin-bottom: 10px;
    text-align: center;
}

.skills__category--list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.skills__category--item {
    font-size: 14px;
    padding: 5px 0;
    color: var(--stars);
    text-align: center;
}
