
.skills {
    padding-left: 50px;   
    padding-right: 50px;   
    min-height: 100vh; 
}
.skills__categories {
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
   
}

.skills__category {
    background-color: var(--text-graphite-light-opacity);
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--background-space-opacity);
    padding-bottom: 15px;
    width: 20%;
}

.skills__category--title {
    font-size: 18px;
    font-weight: bold;
    color: var(--background-colory);
    margin-bottom: 10px;
    text-align: center;
}

.skills__category--list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.skills__category--item {
    font-size: 14px;
    padding: 5px 0;
    color: var(--stars);
    text-align: center;
}
@media (max-width: 768px) {
    .skills__categories {
    flex-direction: column;
    align-items: center;
    }
    .skills__category {
        min-width: 60%;
    }
    .skills__categories {
        margin-top: 5vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
       
    }
}