.about {
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--stars);
    text-align: center;
    position: relative;
    z-index: 1; 
}

.about__left, .about__right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.about h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--stars);
    font-family: var(--font-code);
    -webkit-text-stroke: 2px var(--text-graphite-dark);
}

.about__text {
    font-size: 0.9rem;
    text-align: right;
}

.clouds {
    position: absolute;
    bottom: 1px;
    width: 100%;
    height: auto;
    z-index: -2; 
}

.lars {
    position: absolute;
    top: 10%;
    left: 35%;
    transform: translateX(-50%);
    height: 80vh; 
    z-index: -1; 
}
@media (max-width: 768px) {
    .about {
     flex-direction: column;
     min-height: 100vh; 
     justify-content: flex-start;
    }
    .about__left, .about__right {
        display: block;
        flex: none;
        justify-content: center;
        align-items: center;
        padding: 0px;
        margin-top: 0px;

    }
    .lars {
        position: absolute;
        top: 50%;
        left: 35%;
        transform: translateX(-50%);
        height: 50vh; 
        z-index: -1; 
    }
    
    .about__text {
        font-size: 0.9rem;
        text-align: center;
 
    }
    
}