.laptop {
    position: relative;
}

.laptop--image {
    width: 30vw;
    height: 70vh;
    z-index: 1;
}

.laptop__screen {
    position: absolute;
    top: 14vh;
    left: 4.7vw;
    width: 20.4vw;
    height: 30vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.laptop--preview {
    width: 100%;
    height: 100%;
    object-fit: fill; 
    border-radius: 4px;
    z-index: -1;
}

.laptop__phone {
    position: absolute;
    top: 18vh;
    left: 18vw;
    width: 10vw;
    height: auto;
    z-index: 2;
}

.laptop__phone--image {
    height: 35vh;
    width: 15.5vw;
}

.laptop__phone--screen {
    position: absolute;
    top: 4.7vh;
    left: 5vw;
    width: 5.5vw;
    height: 25.4vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.laptop__stack {
    position: relative;
    top: -19vh;
    font-family: var(--font-code);
    font-size: 0.6em;
    color: var(--text-graphite-dark);
}

.laptop__buttons {
   position: relative;
   top: -13vh;
   display: flex;
   gap: 10px;
   justify-content: center;
  }
.laptop__button1::after{
  content: "Project";
}
.laptop__button1::before{
  content: "Go to";
}
.laptop__button2::after{
  content: "Code";
}
.laptop__button2::before{
  content: "View </>";
}