.project {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    margin: 0 auto;
    width: 77vw;
}


.project__filter {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center;

}

.project__filter--buttons {
    padding: 10px 15px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #f8f8f8;
    cursor: pointer;
    transition: background-color 0.2s;
}

.project__filter--buttons.active {
    background-color: #0070f3;
    color: white;
}

.project__filter--buttons:hover {
    background-color: #e0e0e0;
}
.project__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 70%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
}

.project__card {
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.project__card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project__card--title {
    margin: 0;
    font-size: 1.5em;
    color: #333;
}

.project__card--description {
    color: #666;
}

.project__card--link {
    color: #0070f3;
    text-decoration: none;
}

.project__card--link:hover {
    text-decoration: underline;
}

.project__card--languages {
    color: #888;
    font-size: 0.9em;
}

@media (max-width: 768px) {
    .project__container {
        grid-template-columns: 1fr;
    }
}