
.project {
    max-width: 100%;
    margin: 0 auto;
    min-height: 100vh; 
}

.project__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-items: center;
    padding: 0 10%;
    padding-top: 15vh;
    overflow: hidden;
    grid-auto-rows: 100vh;
}

@media (max-width: 1024px) {
    .project__container {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 100vh;
    }

    .project__button1::after,
    .project__button1::before,
    .project__button2::after,
    .project__button2::before {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5vh;
        width: 20vw;
    }
}

@media (max-width: 768px) {
    .project__container {
        grid-template-columns: 1fr;
        grid-auto-rows: 500px;
    }

    .project__container {
        padding-top: 5vh;
    }
    
}