.project {
    max-width: 100%;
    margin: 0 auto;
    min-height: 100vh; 
}
.project__title {
    position: relative;
    top: 5vh;
}

.project__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.project__row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    scroll-margin-top: 15vh; 
}

@media (max-width: 768px) {
    .project__row {
        display: grid;
        grid-template-columns: 1fr;
    
    }
}