@keyframes wobble {
  0%,
  100% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
}

@keyframes flyUp {
  0% {
    transform: translateX(-50%) translateY(0); // Preserve horizontal centering
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-100vh); // Preserve horizontal centering
    opacity: 0;
  }
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
