@font-face {
  font-family: 'CodeFont';
  src: url('../src/Assets/Fonts/Code7X5Regular-ypBe.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'MainFont';
  src: url('../src/Assets/Fonts/Arev.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Force-trial';
  src: url('../src/Assets/Fonts/tt-fors-trial.demibold.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'SecondFont';
  src: url('../src/Assets/Fonts/Cornerita.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}
