.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}

.footer__content {
    text-align: center;
}

@keyframes wobble {
    0%, 100% {
        transform: rotate(-3deg);
    }
    50% {
        transform: rotate(3deg);
    }
}

.footer__image {
    max-width: 20vh; 
    margin-bottom: 10px;
    animation: wobble 1s infinite;
    cursor: pointer;
}

