@font-face {
  font-family: 'CodeFont';
  src: url('../src/Assets/Fonts/Code7X5Regular-ypBe.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MainFont';
  src: url('../src/Assets/Fonts/Arev.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TitleFont';
  src: url('../src/Assets/Fonts/HURDEI.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'SecondFont';
  src: url('../src/Assets/Fonts/Cornerita.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
:root {
  --background-space: black;
  --background-space-opacity: rgba(0, 0, 0, 0.1);
  --background-second-space: #090a0f;
  --stars: #fff;
  --background-dark: #323b4c;
  --background-colory: #ffb3c1;
  --text-graphite-light: #888;
  --text-graphite-light-opacity: rgba(136, 136, 136, 0.3);
  --text-graphite-dark: #333;
  --font-code: 'CodeFont', Arial, sans-serif;
  --font-web: 'TitleFont', Arial, sans-serif;
  --font-second: 'SecondFont', Arial, sans-serif;
  --font-main: 'MainFont', Arial, sans-serif;
  --button-width-big: 100px;
  --button-height-big: 50px;
  --button-width-medium: 70px;
  --button-height-medium: 35px;
  --button-width-small: 100px;
  --button-height-small: 50px;
}
html {
  -webkit-text-size-adjust: 100%;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}
body {
  background: linear-gradient(180deg, var(--background-dark), var(--background-colory));
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1,
h2 {
  color: var(--text-graphite-dark);
  font-family: var(--font-main);
}
p {
  font-family: var(--font-main);
}

button {
  height: var(--button-height-big);
  width: var(--button-width-big);
  font-family: var(--font-second);
  border: 1px solid var(--text-graphite-light);
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  background-color: var(--background-dark);
  font-size: 15px;
}

button:hover {
  box-shadow: 0.5px 0.5px var(--button-height-big) var(--text-graphite-light);
}

button::after {
  height: var(--button-height-big);
  width: var(--button-width-big);
  background-color: var(--background-colory);
  color: var(--background-dark);
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translateY(var(--button-height-big));
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

button::before {
  height: var(--button-height-big);
  width: var(--button-width-big);
  background-color: var(--background-dark);
  color: var(--background-colory);
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translateY(0px) scale(1.2);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

button:hover::after {
  transform: translateY(0) scale(1.2);
}

button:hover::before {
  transform: translateY(calc(-1 * var(--button-height-big))) scale(0) rotate(120deg);
}
a {
  color: var(--stars);
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s;
}

a:hover {
  color: var(--background-colory);
}
@media (max-width: 1024px) {
  button {
    height: var(--button-height-medium);
    width: var(--button-width-medium);
    font-size: 10px;
  }

  button:hover {
    box-shadow: 0.5px 0.5px var(--button-height-medium) var(--text-graphite-light);
  }

  button::after {
    height: var(--button-height-medium);
    width: var(--button-width-medium);
    transform: translateY(var(--button-height-medium));
  }

  button::before {
    height: var(--button-height-medium);
    width: var(--button-width-medium);
  }

  button:hover::before {
    transform: translateY(calc(-1 * var(--button-height-medium))) scale(0) rotate(120deg);
  }
}
@media (max-width: 768px) {
  button {
    height: var(--button-height-medium);
    width: var(--button-width-medium);
  }

  button:hover {
    box-shadow: 0.5px 0.5px var(--button-height-medium) var(--text-graphite-light);
  }

  button::after {
    height: var(--button-height-medium);
    width: var(--button-width-medium);
    transform: translateY(var(--button-height-medium));
  }

  button::before {
    height: var(--button-height-medium);
    width: var(--button-width-medium);
  }

  button:hover::before {
    transform: translateY(calc(-1 * var(--button-height-medium))) scale(0) rotate(120deg);
  }
}
