.experience {
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    place-items: center; 
    place-content: center; 
    position: relative;
}

.experience__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    place-items: center; 
    place-content: center; 
    position: relative;
}

.experience__card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid var(--text-graphite-light);
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--background-space-opacity);
    background-color: var(--background-dark);
    width: 35vw;
    height: 32vh;
    position: relative;
}

.experience__number-container {
    position: relative;
    flex-shrink: 0;
}

.experience__number {
    width: 40px;
    height: 40px;
    background-color: var(--stars);
    border-radius: 50%;
    color: var(--background-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    position: relative;
    z-index: 1;
}

.experience__content {
    flex: 1;
}

.experience__company {
    font-size: 1.2em;
    color: var(--background-colory);
    margin: 0 0 5px;
}

.experience__position {
    font-family: var(--font-web);
    margin: 5px 0;
    font-size: 1.3em;
    color: var(--stars);
}

.experience__duration {
    color: var(--text-graphite-light);
    font-size: 0.8em;
    font-family: var(--font-code);
    margin-bottom: 10px;
}

.experience__description {
    color: var(--stars);
    line-height: 1.5;
}

@media (max-width: 768px) {
    .experience__container {
        grid-template-columns: 1fr;
    }

    .experience__number-container {
       display: none;
    }
    .experience__card {
        width: 50vw;
    }
}