.experience {
  width: 100%;
  min-height: 100vh;
  position: relative;

  &__timeline {
    position: absolute;
    top: 55%;
    left: 11%;
    right: 11%;
    height: 1%;
    background: var(--stars);
    transform: translateY(-50%);
    z-index: 1;
  }

  &__item {
    position: absolute;
    width: 20%;
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;

    &--top {
      top: 51%;
      transform: translate(-10%, -100%);
      text-align: center;

      &::before {
        top: 107.5%;
      }
    }

    &--bottom {
      top: 59%;
      transform: translate(-15%, 0);
      text-align: center;

      &::before {
        top: -17%;
      }
    }

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 8%;
      height: 8%;
      background: var(--background-colory);
      border: 2px solid var(--stars);
      border-radius: 50%;
      z-index: 2;
    }
  }

  &__content {
    background: var(--background-dark);
    padding: 15px;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: auto;
    max-width: 100%;
    box-sizing: border-box;
    white-space: normal;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__company {
    font-size: 3vh;
    color: var(--background-colory);
    margin: 0 0 5px;
  }

  &__position {
    font-family: var(--font-second);
    margin: 5px 0;
    font-size: 3.5vh;
    color: var(--stars);
  }

  &__duration {
    color: var(--text-graphite-light);
    font-size: 1.5vh;
    font-family: var(--font-code);
    margin-bottom: 10px;
  }

  &__description {
    color: var(--stars);
    line-height: 1.5;
    font-size: 1.6vh;
    word-wrap: break-word;
  }

  // Мобильная адаптация
  @media screen and (max-width: 768px) {
    .experince__block {
      padding-top: 5vh;
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
      place-items: center;
      place-content: center;
      position: relative;
    }

    &__timeline {
      width: 4px;
      height: 90%;
      left: 50%;
      top: 10%;
      transform: translateX(-50%);
      z-index: -1;
    }

    &__item {
      position: static;
      width: 100%;
      height: auto;
      transform: none;
      text-align: left;

      &::before {
        display: none;
      }
    }

    &__content {
      width: 70%;
      height: auto;
    }

    &__company,
    &__position,
    &__duration,
    &__description {
      text-align: center;
    }
  }
}
