.experience {
    min-height: 100vh;
    margin: 0 auto;
}


.experience__container {
    margin-top: 8vh;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    place-items: center; 
    place-content: center; 
}

.experience__card {
    padding: 10px;
    border: 1px solid var(--text-graphite-light);
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--background-space-opacity);
    background-color: var(--background-dark);
    width: 45vw;
}

.experience__company {
    font-size: 1.2em;
    color: var(--background-colory);
    margin: 0 0 5px;
}

.experience__position {
    font-family: var(--font-web);
    margin: 5px 0;
    font-size: 1.3em;
    color: var(--stars);
}

.experience__duration {
    color: var(--text-graphite-light);
    font-size: 0.8em;
    font-family: var(--font-code);
    margin-bottom: 10px;
}

.experience__description {
    color: var(--stars);
    line-height: 1.5;
}

@media (min-width: 768px) {
    .experience__container {
        grid-template-columns: 1fr 1fr;
    }
}